.movie {
    margin: 10px;
    width: 120px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

a {
    cursor: pointer
}

.modal img {
    float: left;
    margin: 20px;
}

